.outerbox {
  border: 2px solid black;
  box-sizing: border-box;
  background-color: white;
  color: black;
  height: 50vw;
  width: 70vw;
}

.player {
  height: 15%;
  width: 3%;
}

.red-player {
  background-color: red;
  position: relative;
  float: left;
}

.blue-player {
  background-color: blue;
  position: relative;
  float: right;
}

.pong-ball {
  background-color: green;
  position: relative;
  height: 4%;
  width: 3%;
  top: 50%;
  left: 50%;
}
