.google {
  display: inline-block;
}

.username {
  font-size: 1.5em;
  font-family: "VT323", monospace;
  padding-left: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px dashed black;
  padding: 0;
  height: 60px;
}
