.pong {
  text-align: center;
}

.outerbox {
  border: 2px solid black;
  box-sizing: border-box;
  background-color: white;
  color: black;
  margin-left: auto;
  margin-right: auto;
  height: 46vw; /* using vw for height over vh to not have dynamic aspect ratio */
  width: 65vw;
}

.player {
  height: 15%;
  width: 3%;
}

.scoreboard {
  margin-top: 0;
  padding-top: 0;
}

.red-player {
  background-color: red;
  position: relative;
  float: left;
}

.blue-player {
  background-color: blue;
  position: relative;
  float: right;
}

.pong-ball {
  background-color: green;
  position: relative;
  height: 4%;
  width: 3%;
  top: 50%;
  left: 50%;
}

body {
  margin: 0;
  padding: 0;
}
